<dx-form id="form" style="padding-top: 20px">
    <dxi-item itemType="group" caption="Dienste">
        <dxi-item>
            <dx-data-grid id="gridContainer" [dataSource]="dataSource" keyExpr="id" [allowColumnReordering]="true" (onRowInserting)="rowInsert($event)"
                (onRowUpdating)="rowUpdate($event)" (onRowRemoving)="rowDelete($event)">
                <dxo-paging [enabled]="true"></dxo-paging>
                <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true">
                </dxo-editing>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxi-column dataField="name" caption="Name">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="tenantId" caption="Mandant" [width]="200">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                    <dxo-lookup [dataSource]="tenants" displayExpr="name" valueExpr="id">
                    </dxo-lookup>
                </dxi-column>
                <dxi-column dataField="color" caption="Farbe" [width]="200" cellTemplate="cellTemplate" editCellTemplate="editCellTemplate">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                    <div *dxTemplate="let cell of 'cellTemplate'">
                        <dx-color-box [value]="cell.value" [readOnly]="true" acceptCustomValue="false" ></dx-color-box>
                    </div>
                    <div *dxTemplate="let cell of 'editCellTemplate'">
                        <dx-color-box [value]="cell.value" acceptCustomValue="false" applyValueMode="instantly" (onValueChanged)="setColorBoxValue($event, cell)"></dx-color-box>
                    </div>

                </dxi-column>

            </dx-data-grid>
        </dxi-item>

    </dxi-item>
</dx-form>